@media (prefers-reduced-motion: no-preference) {
    /* hero fade animation  */

    /* carousel-load-animation */
    @keyframes swingIn {
        from {
            transform: rotate(20deg);
            opacity: 0.1;
        }
        to {
            transform: rotate(0);
            opacity: 1;
        }
    }

    /* fade-in animation  */
    @keyframes fadeIn {
        from {
            transform: translateY(15%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

}