@import url('fonts.css');

/* large screens */
@media screen and (min-width: 768px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    :root {
        --link-color: rgb(4, 199, 92);
        --color-off-white: #FAF9F7;
        --margin-left: 4rem;
    }

    body {
        font-family: "Armin Grotesk", 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 16px;
        padding: 0 3rem;
        background-color: var(--color-off-white);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    ul, ol {
        list-style-type: none;
    }

    header {
        font-size: 20px;
        padding: 1rem 5rem;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar a {
        transition: 0.1s ease;
    }

    .navbar a:hover {
        color: var(--link-color);
        transition: 0.1s ease;
    }

    #burger-icon {
        transform: scale(0.4);
    }

    #nav-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10rem;
    }

    #donate-btn {
        background: transparent;
        border-radius: 2rem;
        padding: 0.5rem 2rem;
        font-size: 20px;
        border: 1px solid black;
        transition: 0.2s ease;
    }

    #donate-btn:hover {
        background-color: var(--link-color);
        border-color: var(--link-color);
        color: white;
        transition: 0.2s ease;
    }

    #lang-options {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        gap: 0.5rem;
    }

    #lang-options a {
        transition: 0.2s ease;
    }

    #lang-options a:hover {
        color: var(--link-color);
        transition: 0.2s ease;
    }

    .hero {
        font-size: 4rem;
        width: 40%;
        margin-left: calc(var(--margin-left) + 2.5rem);
        line-height: 0.9;
        z-index: -1;
        position: absolute;
    }

    .carousel-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(30%);
        gap: 3rem;
    }

    #carousel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-text {
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 1.5rem;
        transform: translateY(10%);
    }

    .carousel-text a {
        font-size: 2rem;
        color: var(--link-color);
        transition: 0.1s ease;
    }

    .carousel-text a:hover {
        color: black;
        transition: 0.1s ease;
    }

    .carousel-img {
        width: 70%;
        transform: translateY(-15px);
    }

    #left-btn, #right-btn {
        transform: translate(0);
        transition: 0.1s ease;
        display: block;
        cursor: pointer;
    }

    #left-btn:hover {
        transform: translateX(-0.25rem);
        transition: 0.1s ease-in-out;
    }

    #right-btn:hover {
        transform: translate(0.25rem);
        transition: 0.1s ease-in-out;
    }
}