@font-face {
    font-family: "Armin Grotesk";
    font-weight: 700;
    src: url('Armin-Grotesk-Font/Demo_Fonts/Fontspring-DEMO-armingrotesk-normal.otf');
}

@font-face {
    font-family: "Armin Grotesk";
    font-weight: 800;
    src: url('Armin-Grotesk-Font\Demo_Fonts\Fontspring-DEMO-armingrotesk-semibold.otf');
}