@font-face {
    font-family: "Armin Grotesk";
    font-weight: 700;
    src: url('D:/DVM Recruitments/Task3/Armin-Grotesk-Font/Demo_Fonts/Fontspring-DEMO-armingrotesk-normal.otf');
}

@font-face {
    font-family: "Armin Grotesk";
    font-weight: 800;
    src: url('D:/DVM Recruitments/Task3/Armin-Grotesk-Font/Demo_Fonts/Fontspring-DEMO-armingrotesk-ultrabold.otf');
}